/*nav-start*/
.site-nav {
    background-color: #F0F0F0;
    height: 30px;
    line-height: 30px;
}
.site-nav-send {
    position: relative;
    padding: 0 25px 0 10px;
}
.site-nav-send:hover {
    background-color: #fff;
}
.site-nav-send i,
.fore i {
    position: absolute;
    top: 12px;
    right: 8px;
    width: 15px;
    height: 7px;
    overflow: hidden;
}
.site-nav-send s,
.fore s {
    position: absolute;
    top: -7px;
    font: 400 12px/14px "consolas";
}

.site-nav-right li {
    float: left;
    padding: 0 10px;
}
.fore {
    position: relative;
}
.site-nav-right .fore {
    padding: 0 25px 0 10px;
}
.site-nav-right .line {
    padding: 0;
    margin-top: 9px;
    width: 1px;
    height: 12px;
    background: #DEDEDE;
}
.site-nav-right .tel {
    position: relative;
    padding-left: 25px;
}
.site-nav-right .tel span {
    position: absolute;
    top: 5px;
    left: 7px;
    width: 15px;
    height: 20px;
    background: url("../images/tel.png") no-repeat;

}
/*nav-end*/


/*top-banner begin*/
.top-banner {
    background-color: #00c1fe;
}
.banner-img {
    position: relative;
}
.close-banner {
    position: absolute;
    background: url("../images/close-banner.png") no-repeat;
    width: 19px;
    height: 19px;
    top: 5px;
    right: 5px;
}
.close-banner:hover {
    background-position: bottom;
}
/*top-banner end*/

/*search-begin*/
.logo {
    float: left;
    padding: 20px 0;
    width: 360px;
    height: 60px;
}
.logo a {
    float: left;
    text-indent: -9999px;
    width: 270px;
    height: 60px;
    background: url("../images/logo.png") no-repeat;
}
.search-top {
    float: left;
    width: 538px;
    height: 36px;
    padding-top: 25px;
}
.search-top input {
    padding-left:5px;
    float: left;
    color: #cccccc;
    width: 449px;
    height: 32px;
    border: 2px solid #B61D1D;
    border-right:0;
}
.search-top button {
    float: left;
    height: 36px;
    width: 82px;
    background-color: #B61D1D;
    color: #fff;
    font: 400 16px/36px "microsoft yahei";
    cursor: pointer;
}
.shopping-car {
    float: right;
    position: relative;
    border: 1px solid #E0E0E0;
    width: 98px;
    height: 34px;
    line-height: 34px;
    margin: 25px 60px 0 0;
    padding-left: 40px;
    background-color: #F9F9F9;

}

.shopping-car .car-img {
    position: absolute;
    width: 17px;
    height: 15px;
    top: 9px;
    left: 15px;
    background: url("../images/tel.png") no-repeat 0 -58px;
}
.shopping-car .right-arrows {
    position: absolute;
    right: 10px;
    font: 400 14px/34px "simsun";
}
.shopping-car .number {
    position: absolute;
    background-color: #B61D1D;
    color: #fff;
    top: -5px;
    width: 17px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    border-radius: 7px 7px 7px 2px;
}

.searchHint {
    float: left;
    width: 520px;
    height: 30px;
    line-height: 30px;
}
.searchHint a {
    margin-right: 7px;
}

/*search-end*/

/*shortcut-nav start*/
.shortcut-nav {
    height: 44px;
    width: 100%;
    border-bottom: 2px solid #B1191A;
}
.shortcut-nav-menu {
    position: relative;
    float: left;
    height: 44px;
    width: 210px;
    background-color: #B1191A;
    z-index: 1;
}
.shortcut-nav-menu-all a{
    padding-left: 10px;
    background-color: #B1191A;
    font: 400 15px/44px "microsoft yahei";
    color: #fff;
}
.shortcut-nav-menu-ones {
    height: 465px;
    margin-top: 2px;
    background-color: #C81623;
    border-left: 1px solid #B1191A;
    border-bottom: 1px solid #B1191A;
}
.shortcut-nav-menu-ones div {
    height: 31px;
}
.shortcut-nav-menu-ones div:hover {
    background-color: #fff;
}
.shortcut-nav-menu-ones div:hover h3 {
    color: #C81623;
}
.shortcut-nav-menu-ones h3 {
    float: left;
    margin-left: 10px;
    font: 400 15px/31px "simsun";
    color: white;
}
.shortcut-nav-menu-ones i {
    float: right;
    margin-right: 10px;
    color: white;
    font: 400 12px/31px "consolas";
}

.shortcut-nav-titles {
    float: left;
    height: 44px;
    width: 700px;
}
.shortcut-nav-titles a {
    float: left;
    padding: 0 20px;
    font: 400 16px/44px "microsoft yahei";
}

.shortcut-nav-right-img a{
    float: right;
    margin-top: -10px;
    margin-right: 25px;
    height: 54px;
    width: 200px;
    background: url("../images/shortcut_go.jpg") no-repeat;
}
/*shortcut-nav end*/

/*main-begin*/
.main-slider {
    position: relative;
    float: left;
    margin: 12px 0px 0px 220px;
}
.main-slider ul {
    position: absolute;
    bottom: 6px;
    left: 50%;
    margin-left: -66px;
}
.main-slider li {
    float: left;
    margin: 0 2px;
    text-align: center;
    width: 18px;
    height: 18px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
}
.main-slider .main-slider-num-current {
    background-color: #C81623;
}
.main-slider-arrow {
    width: 100%;
}
.main-slider-arrow a {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 25px;
    height: 60px;
    background: rgba(0,0,0,.3);
    color: #fff;
    text-align: center;
    font: 400 16px/60px "consolas";
}
.main-slider-arrow a:hover {
    background: rgba(0,0,0,.6);
}
.main-slider-arrow-left {
    left: 0;
}
.main-slider-arrow-right {
    right: 0;
}
.main-news {
    float: right;
    width: 250px;
    height: 454px;
    margin-top: 12px;
}
.main-news-top {
    width: 100%;
    height: 375px;
    border: 1px solid #E4E4E4;
}
.main-news-top-faster {
    height: 163px;
    border-bottom: 1px dotted #E4E4E4;
}
.main-news-top-faster-title {
    height: 32px;
    border-bottom: 1px dashed #E8E8E8;
}
.main-news-top-faster-title h3 {
    float: left;
    font: 400 15px/32px "microsoft yahei";
    padding-left: 10px;
}
.main-news-top-faster-title a {
    margin-right: 10px;
    float: right;
    font: 400 13px/32px "microsoft yahei";
}
.main-news-top-faster-list ul {
    padding: 6px 10px;
}
.main-news-top-faster-list a {
    height: 24px;
    line-height: 24px;
}
.main-news-bottom {
    padding-top: 5px;
}
/*main-end*/

/*footer-begin*/
.footer-top-slogan {
    position: relative;
    width: 100%;
    height: 54px;
    padding: 19px 0;
    background-color: #f5f5f5;
}
.footer-top-slogan img {
    position: absolute;
    left: 50%;
}
.footer-top-slogan-icon1 {
    margin-left: -600px;
}
.footer-top-slogan-icon2 {
    margin-left: -300px;
}
.footer-top-slogan-icon4 {
    margin-left: 300px;
}

.footer-top-list {
    padding-top: 18px;
}
.footer-top-list dl {
    float: left;
    width: 200px;
}
.footer-top-list .serve {
    width: 160px;
}
.footer-top-list dt {
    font: 400 16px/28px "\5b8b\4f53";
}
.footer-top-list dd {
    line-height: 20px;
}
.footer-top-list .county {
    float: right;
    background: url("../images/china.png") no-repeat bottom left;
    width: 192px;
    height: 168px;
    padding: 0 33px 0 16px;
}
.footer-top-list .county h3 {
    font: 400 16px/28px "\5b8b\4f53";
}
.footer-top-list .county a {
    float: right;
}
.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}
.footer-bottom-about {
    padding-top: 20px;
}
.footer-bottom-about a {
    margin: 0 8px;
}
.footer-bottom-licence {
    margin-top: 10px;
}
.footer-bottom-imgs {
    margin-top: 10px;
}
.footer-bottom-imgs img {
    padding: 0 5px;
}

/*footer-end*/